/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Adjust the z-index as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for better visibility */
    transition: transform 0.5s ease, box-shadow 0.5s ease;
  }
  
.parent-container {
    width: 100%;
    margin-top: 5rem;
    color: #2B3940;
}
.header-container{
  
    margin-bottom: 2rem;
    transition: transform 0.5s ease, box-shadow 0.5s ease;

}
.body-container{
    margin-top: 5rem;
    width: 100%;
    margin-bottom: 6rem;
   

}
.hero-img-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center the items horizontally */
    margin-top: 2rem;
    margin-bottom: 8rem;
}
 
.hero-img {
    display: block; 
    max-width: 100%; 
    width: auto;
}

.marketing-manager{
    margin-bottom: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left; 
    gap: 20px;

}
.logo{
    flex-shrink: 0;
    
}
.manager-card{
  
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Center the items horizontally */
    gap: 20px;
    align-items: baseline;
}
.manager-title{
    margin-bottom: 1rem;
    font-size: xx-large;
    font-weight: bold;
    color: #2B3940;
}

.description-container{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.description-title, .job-responsibility, .form-title{
    font-size: x-large;
    font-weight: bold;
    color: #2B3940;
}

.loc-icon {
    color: red; /* Change the color to red */
}

.react-icon{
    color: green;
    margin-right: 4px;
}
.list-unstyled{
    list-style-type: none;
    padding: 0;
    margin-bottom: 1rem;

}
.detail-body {
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    column-gap: 20px;
margin-top: 2rem;
}
.form-title{
    margin-bottom: 1.4rem;
    margin-top: 2rem;
    

}

.summary-detail{
    margin-top: 6rem;
}

.summary, .detail{
    background-color: hsla(170, 75%, 41%, 0.1);
    padding: 4rem;
    margin-bottom: 2rem;
    
}
.summary p,h4 {
    margin-bottom: 10px; /* Adjust the value as needed */
  }
  
  /* Remove margin bottom from the last paragraph */
  .summary p:last-child {
    margin-bottom: 0;
  }

  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:aqua ; /* Background color */
    color: white; /* Text color */
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    transition: opacity 0.3s ease;
  }
  
  .back-to-top:hover {
    opacity: 0.8; /* Adjust opacity on hover */
  }
/*** Button ***/
.btn {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}



@media (max-width: 768px) {
    .detail-body{
        display: flex;
        flex-direction: column;
    }
}

