.form-container, .btn {
  max-width: 100%; /* Adjust as needed */

}

.form-body {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  margin-bottom: 2rem; /* Adjust spacing between rows */
}

.form-group {
  flex: 1;
  margin-right: 2rem; /* Adjust spacing between form fields */
  border: 1px solid #ccc; /* Add border to form group */
  border-radius: 4px; /* Optional: Add border radius for rounded corners */
}

.form-group:last-child {
  margin-right: 0; /* Remove margin for the last form field */
}

.form-control {
  width: 100%;
  border: none; /* Remove default input border */
  padding: 0.5rem; /* Optional: Add padding for better visual appearance */
}

.btn {
  flex: 1; /* Make button's width same as form fields */
  width: 100%;
  border: 1px solid transparent; /* Add border to button */
  border-radius: 4px; /* Optional: Add border radius for rounded corners */
  padding: 0.5rem; /* Optional: Add padding for better visual appearance */
  text-align: center; /* Center text within button */
  cursor: pointer; /* Add pointer cursor to button */
}

.btn:hover {
  background-color: green; /* Optional: Change background color on hover */
}

.apply-button{
  margin: auto;
}